* {
    padding: 0;
    margin: 0;
}

input {
    width: 150px !important;
    height: 150px !important;
    text-align: center !important;
    font-size: 2.5rem !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: none;
}

.time {
    color: #fff;
    width: 18rem;
    height: 18rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
}

h2 {
    font-size: 3rem;
}

/* #timer {
    display: none !important;
} */